# Environments
.env

# Defaults
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Virtual environments
venv/
env/
.venv/

# Secret/Custom Scripts Setup
create_readonly.py
seed_real_db.py
test_mcp.py
